$mandys_pink: #F5BDB6
$hint_of_red: #FDFCFC
$cod_gray: #161211
$heather: #AFBCCA
$fuscous_gray: #55504D
$americano: #846F6B

*
  padding: 0
  margin: 0
  box-sizing: border-box

  a
    text-decoration: none
    color: $cod_gray

.container
  width: 90%
  max-width: 1200px
  margin: 0 auto

  .hero
    background-color: $mandys_pink
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 0 50px

    &__content
      color: $cod_gray

      &__title
        font-size: 46px
        font-weight: bold
        margin-bottom: 10px
      &__description
        font-size: 16px
        font-weight: lighter
        margin-bottom: 20px
      &__button
        font-size: 16px
        font-weight: bold

    &__figure
      height: 600px
      position: relative
      overflow: hidden
      padding-top: 40px

      &__img
        width: auto
        height: auto
