* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * a {
    text-decoration: none;
    color: #000000; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }
  .container .hero {
    background-color: #FAE0DC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 50px; }
    .container .hero__content {
      color: #000000; }
      .container .hero__content__title {
        font-size: 46px;
        font-weight: bold;
        margin-bottom: 10px; }
      .container .hero__content__description {
        font-size: 16px;
        font-weight: lighter;
        margin-bottom: 20px; }
      .container .hero__content__button {
        font-size: 16px;
        font-weight: bold; }
    .container .hero__figure {
      height: 600px;
      position: relative;
      overflow: hidden;
      padding-top: 40px; }
      .container .hero__figure__img {
        width: auto;
        height: auto; }
  .container .searching-tab__form__wrap {
    background-color: #F8F8F7;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center; }
    .container .searching-tab__form__wrap__icon {
      margin-right: 20px; }
    .container .searching-tab__form__wrap__input {
      background-color: #F8F8F7;
      border: none;
      outline: none;
      color: #D2D2D2;
      font-size: 16px;
      width: 100%; }
