* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }
  * a {
    text-decoration: none;
    color: #000000; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }
  .container section {
    margin-bottom: 50px; }
  .container .hero {
    background-color: #FAE0DC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-radius: 15px; }
    .container .hero__content {
      color: #000000;
      width: 250px; }
      .container .hero__content__title {
        font-size: 46px;
        font-weight: bold;
        margin-bottom: 10px; }
      .container .hero__content__description {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px; }
      .container .hero__content__button {
        font-size: 16px;
        font-weight: bold; }
        .container .hero__content__button i {
          margin-left: 8px;
          font-size: 18px; }
    .container .hero__figure {
      height: 600px;
      position: relative;
      overflow: hidden;
      padding-top: 40px; }
      .container .hero__figure__img {
        width: auto;
        height: auto; }
    @media screen and (max-width: 768px) {
      .container .hero {
        text-align: center;
        flex-direction: column;
        height: 100vh;
        margin: 0 -10%;
        justify-content: center;
        margin-bottom: 50px; }
        .container .hero__content {
          padding: 40px 15px;
          width: 100%; }
        .container .hero__figure {
          display: none; } }
  .container .searching-tab__form__wrap {
    background-color: #F8F8F7;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center; }
    .container .searching-tab__form__wrap__icon {
      margin-right: 20px;
      margin-top: -3px;
      font-size: 18px; }
    .container .searching-tab__form__wrap__input {
      background-color: #F8F8F7;
      border: none;
      outline: none;
      font-size: 16px;
      width: 100%; }
  .container .recipe-list {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    grid-template: auto/repeat(auto-fit, minmax(300px, 1fr)); }
    .container .recipe-list__card__figure {
      height: 180px; }
      .container .recipe-list__card__figure__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px; }
    .container .recipe-list__card__content__recipe-name {
      font-size: 28px;
      font-weight: 500;
      padding: 15px 0; }
    .container .recipe-list__card__content__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .container .recipe-list__card__content__info__rating i {
        margin-right: 10px; }
      .container .recipe-list__card__content__info__chef {
        color: #D2D2D2; }
