$mandys_pink: #FAE0DC
$hint_of_red: #F8F8F7
$cod_gray: #000000
$heather: #D2D2D2
$fuscous_gray: #55504D
$americano: #846F6B

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

  a
    text-decoration: none
    color: $cod_gray

.container
  width: 90%
  max-width: 1200px
  margin: 0 auto

  section
    margin-bottom: 50px

  .hero
    background-color: $mandys_pink
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 0 50px
    border-radius: 15px

    &__content
      color: $cod_gray
      width: 250px

      &__title
        font-size: 46px
        font-weight: bold
        margin-bottom: 10px
      &__description
        font-size: 16px
        font-weight: 400
        margin-bottom: 20px
      &__button
        font-size: 16px
        font-weight: bold

        i
          margin-left: 8px
          font-size: 18px

    &__figure
      height: 600px
      position: relative
      overflow: hidden
      padding-top: 40px

      &__img
        width: auto
        height: auto

  .searching-tab
    &__form
      &__wrap
        background-color: $hint_of_red
        border-radius: 15px
        padding: 20px
        display: flex
        align-items: center

        &__icon
          margin-right: 20px
          margin-top: -3px
          font-size: 18px

        &__input
          background-color: $hint_of_red
          border: none
          outline: none
          font-size: 16px
          width: 100%

  .recipe-list
    display: grid
    grid-row-gap: 50px
    grid-column-gap: 30px
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr))

    &__card
      &__figure
        height: 180px
        &__img
          height: 100%
          width: 100%
          object-fit: cover
          border-radius: 15px

      &__content
        &__recipe-name
          font-size: 28px
          font-weight: 500
          padding: 15px 0

        &__info
          display: flex
          flex-direction: row
          justify-content: space-between
          &__rating
            i
              margin-right: 10px
          &__chef
            color: $heather
